:root {
	--color-black: #000000;
	--color-blue: #4834d4;
	--color-gray: #dfe6e9;
	--color-green: #6ab04c;
	--color-lime: #badc58;
	--color-orange: #f0932b;
	--color-purple: #be2edd;
	--color-red: #eb4d4b;
	--color-teal: #22a6b3;
	--color-violet: #130f40;
	--color-white: #ffffff;
	--color-yellow: #f9ca24;
}
